{% extends 'todo/base.html' %} {% block content %}

  {% if form.errors %}
    <div class="alert alert-danger">
        <ul class="mb-0">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
<div class="container">
  <div class="row my-2 justify-content-center">
    {% if not form.errors %}
      <div class="col-sm-6 alert alert-info">作業を{{ crud }}してください</div>
    {% endif %}
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-sm-6">
      <form method="POST" class="todo-form">
        {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
        {%if not field.is_hidden %}
        <div class="mb-3">
          {{ field.label_tag }} {{ field }}
          
        </div>
        {% else %} {{ field }} {% endif %} {% endfor %}
        <button type="submit" class="save btn btn-primary">保存</button>
        <input
          type="button"
          value="キャンセル"
          class="btn btn-outline-primary"
          onclick="location.href='{% url 'list' %}';"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
